<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./../../../vendor/autoload.php">
  <filter>
    <whitelist>
      <directory suffix=".php">./../../main/php</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="./../../../target/phpunit-reports/coverage/html" charset="UTF-8" yui="true" highlight = "true" lowUpperBound="50" highLowerBound="80" />
    <log type="coverage-clover" target="./../../../target/phpunit-reports/clover.xml"/>
    <log type="coverage-crap4j" target="./../../../target/phpunit-reports/crap4j.xml"/>
    <log type="junit" target="./../../../target/phpunit-reports/junit.xml" logIncompleteSkipped="false"/>
  </logging>
  <php>
    <ini name="date.timezone" value="Europe/Berlin"/>
  </php>
</phpunit>
